$accent1 : #C23304;
$accent1--light: lighten( $accent1, 20% );
$accent1--dark: darken( $accent1, 20% );

$accent2 : #FD8A08;
$accent2--light: lighten( $accent2, 20% );
$accent2--dark: darken( $accent2, 20% );

$header : #262a35;
$header--light: lighten($header,40%);
$header--xlight: lighten($header,60%);

$background : #383E4E;

$white : #fefefe;
$black : #1E1400;

$medium-grey: #999;
$light-grey: #ccc;